################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RizTechBookStore/.vs/RizTechBookStore.slnx
/RizTechBookStore/RizTechBookStore/bin/Debug/netcoreapp3.1
/RizTechBookStore/RizTechBookStore/obj
/RizTechBookStore/.vs
/RizTechBookStore/RizTechBookStore/wwwroot
